openapi: 3.1.0
info:
  title: Krea Assets Video API
  version: v1
  description: Asset management endpoints for uploading and managing images, videos, audio files, and 3D models
servers:
- url: https://api.krea.ai
  description: Krea API
security:
- bearerAuth: []
tags:
- name: Video
  description: Video generation endpoints
paths:
  /generate/video/kling/kling-1:
    post:
      tags:
      - Video
      description: 'High-control model with 10s duration.

        | Mode | Duration | Compute Units |

        |------|----------|---------------|

        | std | 5s | 60.1 |

        | std | 10s | 120 |

        | pro | 5s | 210 |

        | pro | 10s | 421 |

        > **Deprecated request fields:**

        >

        > - `startImage` -> `start_image` until 2026-06-19

        > - `startVideo` -> `start_video` until 2026-06-19

        > - `aspectRatio` -> `aspect_ratio` until 2026-06-19

        > - `cameraControl` -> `camera_control` until 2026-06-19

        > - `endImage` -> `end_image` until 2026-06-19

        > - `endVideo` -> `end_video` until 2026-06-19

        >

        > Deprecated fields are accepted for compatibility only and are not shown in the request schema.

        '
      summary: Kling 1.0
      x-krea-deprecated-field-aliases:
      - from: startImage
        to: start_image
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      - from: startVideo
        to: start_video
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      - from: aspectRatio
        to: aspect_ratio
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      - from: cameraControl
        to: camera_control
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      - from: endImage
        to: end_image
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      - from: endVideo
        to: end_video
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      parameters:
      - name: X-Webhook-URL
        in: header
        required: false
        schema:
          type: string
          format: uri
        description: URL to receive a POST request when the job completes. The webhook will receive the job data including results.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  type: string
                start_image:
                  type: string
                  format: uri
                start_video:
                  type:
                  - string
                  - 'null'
                  format: uri
                aspect_ratio:
                  type: string
                  enum:
                  - '16:9'
                  - '9:16'
                  - '1:1'
                  default: '16:9'
                duration:
                  anyOf:
                  - type: number
                    const: 5
                  - type: number
                    const: 10
                  default: 5
                camera_control:
                  oneOf:
                  - type: object
                    properties:
                      type:
                        type: string
                        const: simple
                      config:
                        type: object
                        properties:
                          zoom:
                            type: number
                            minimum: -10
                            maximum: 10
                          roll:
                            type: number
                            minimum: -10
                            maximum: 10
                          pan:
                            type: number
                            minimum: -10
                            maximum: 10
                          tilt:
                            type: number
                            minimum: -10
                            maximum: 10
                          vertical:
                            type: number
                            minimum: -10
                            maximum: 10
                          horizontal:
                            type: number
                            minimum: -10
                            maximum: 10
                    required:
                    - type
                  - type: object
                    properties:
                      type:
                        type: string
                        const: down_back
                      config:
                        type: 'null'
                        default: null
                    required:
                    - type
                  - type: object
                    properties:
                      type:
                        type: string
                        const: forward_up
                      config:
                        type: 'null'
                        default: null
                    required:
                    - type
                  - type: object
                    properties:
                      type:
                        type: string
                        const: right_turn_forward
                      config:
                        type: 'null'
                        default: null
                    required:
                    - type
                  - type: object
                    properties:
                      type:
                        type: string
                        const: left_turn_forward
                      config:
                        type: 'null'
                        default: null
                    required:
                    - type
                end_image:
                  type: string
                  format: uri
                end_video:
                  type: string
                  format: uri
                mode:
                  type: string
                  enum:
                  - std
                  - pro
                  default: std
              required:
              - prompt
              additionalProperties: false
            example:
              prompt: Ice citadel, frost mages and snow beasts, in a cool, fantasy anime style.
      responses:
        '200':
          description: The resulting job data. This will be returned in a pending state until the job is completed. See [`/jobs/{id}`](#tag/default/get/jobs/{id}) for retrieving the results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                    format: uuid
                  status:
                    type: string
                    enum:
                    - backlogged
                    - queued
                    - scheduled
                    - processing
                    - sampling
                    - intermediate-complete
                    - completed
                    - failed
                    - cancelled
                  created_at:
                    type: string
                    format: date-time
                  completed_at:
                    type: 'null'
                  result:
                    type: 'null'
                required:
                - job_id
                - status
                - created_at
                - completed_at
                - result
        '400':
          description: The request body is invalid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
        '401':
          description: You are not authenticated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
        '402':
          description: You have run out of credits.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
        '429':
          description: You have reached the maximum number of concurrent jobs.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
  /generate/video/kling/kling-1.5:
    post:
      tags:
      - Video
      description: 'Slow, quality model for complex scenes.

        | Mode | Duration | Compute Units |

        |------|----------|---------------|

        | pro | 5s | 210 |

        | pro | 10s | 421 |

        > **Deprecated request fields:**

        >

        > - `startImage` -> `start_image` until 2026-06-19

        > - `startVideo` -> `start_video` until 2026-06-19

        > - `aspectRatio` -> `aspect_ratio` until 2026-06-19

        > - `cameraControl` -> `camera_control` until 2026-06-19

        > - `endImage` -> `end_image` until 2026-06-19

        > - `endVideo` -> `end_video` until 2026-06-19

        >

        > Deprecated fields are accepted for compatibility only and are not shown in the request schema.

        '
      summary: Kling 1.5
      x-krea-deprecated-field-aliases:
      - from: startImage
        to: start_image
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      - from: startVideo
        to: start_video
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      - from: aspectRatio
        to: aspect_ratio
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      - from: cameraControl
        to: camera_control
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      - from: endImage
        to: end_image
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      - from: endVideo
        to: end_video
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      parameters:
      - name: X-Webhook-URL
        in: header
        required: false
        schema:
          type: string
          format: uri
        description: URL to receive a POST request when the job completes. The webhook will receive the job data including results.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  type: string
                start_image:
                  type: string
                  format: uri
                start_video:
                  type:
                  - string
                  - 'null'
                  format: uri
                aspect_ratio:
                  type: string
                  enum:
                  - '16:9'
                  - '9:16'
                  - '1:1'
                  default: '16:9'
                duration:
                  anyOf:
                  - type: number
                    const: 5
                  - type: number
                    const: 10
                  default: 5
                camera_control:
                  oneOf:
                  - type: object
                    properties:
                      type:
                        type: string
                        const: simple
                      config:
                        type: object
                        properties:
                          zoom:
                            type: number
                            minimum: -10
                            maximum: 10
                          roll:
                            type: number
                            minimum: -10
                            maximum: 10
                          pan:
                            type: number
                            minimum: -10
                            maximum: 10
                          tilt:
                            type: number
                            minimum: -10
                            maximum: 10
                          vertical:
                            type: number
                            minimum: -10
                            maximum: 10
                          horizontal:
                            type: number
                            minimum: -10
                            maximum: 10
                    required:
                    - type
                  - type: object
                    properties:
                      type:
                        type: string
                        const: down_back
                      config:
                        type: 'null'
                        default: null
                    required:
                    - type
                  - type: object
                    properties:
                      type:
                        type: string
                        const: forward_up
                      config:
                        type: 'null'
                        default: null
                    required:
                    - type
                  - type: object
                    properties:
                      type:
                        type: string
                        const: right_turn_forward
                      config:
                        type: 'null'
                        default: null
                    required:
                    - type
                  - type: object
                    properties:
                      type:
                        type: string
                        const: left_turn_forward
                      config:
                        type: 'null'
                        default: null
                    required:
                    - type
                end_image:
                  type: string
                  format: uri
                end_video:
                  type: string
                  format: uri
                mode:
                  type: string
                  const: pro
                  default: pro
              required:
              - prompt
              additionalProperties: false
            example:
              prompt: A serene Japanese koi pond garden, framed by cherry blossoms.
      responses:
        '200':
          description: The resulting job data. This will be returned in a pending state until the job is completed. See [`/jobs/{id}`](#tag/default/get/jobs/{id}) for retrieving the results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                    format: uuid
                  status:
                    type: string
                    enum:
                    - backlogged
                    - queued
                    - scheduled
                    - processing
                    - sampling
                    - intermediate-complete
                    - completed
                    - failed
                    - cancelled
                  created_at:
                    type: string
                    format: date-time
                  completed_at:
                    type: 'null'
                  result:
                    type: 'null'
                required:
                - job_id
                - status
                - created_at
                - completed_at
                - result
        '400':
          description: The request body is invalid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
        '401':
          description: You are not authenticated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
        '402':
          description: You have run out of credits.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
        '429':
          description: You have reached the maximum number of concurrent jobs.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
  /generate/video/kling/kling-1.6:
    post:
      tags:
      - Video
      description: 'Previous gen model for complex scenes.

        | Mode | Duration | Compute Units |

        |------|----------|---------------|

        | std | 5s | 120 |

        | std | 10s | 241 |

        | pro | 5s | 210 |

        | pro | 10s | 421 |

        > **Deprecated request fields:**

        >

        > - `startImage` -> `start_image` until 2026-06-19

        > - `startVideo` -> `start_video` until 2026-06-19

        > - `aspectRatio` -> `aspect_ratio` until 2026-06-19

        > - `cameraControl` -> `camera_control` until 2026-06-19

        > - `endImage` -> `end_image` until 2026-06-19

        > - `endVideo` -> `end_video` until 2026-06-19

        >

        > Deprecated fields are accepted for compatibility only and are not shown in the request schema.

        '
      summary: Kling 1.6
      x-krea-deprecated-field-aliases:
      - from: startImage
        to: start_image
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      - from: startVideo
        to: start_video
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      - from: aspectRatio
        to: aspect_ratio
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      - from: cameraControl
        to: camera_control
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      - from: endImage
        to: end_image
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      - from: endVideo
        to: end_video
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      parameters:
      - name: X-Webhook-URL
        in: header
        required: false
        schema:
          type: string
          format: uri
        description: URL to receive a POST request when the job completes. The webhook will receive the job data including results.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  type: string
                start_image:
                  type: string
                  format: uri
                start_video:
                  type:
                  - string
                  - 'null'
                  format: uri
                aspect_ratio:
                  type: string
                  enum:
                  - '16:9'
                  - '9:16'
                  - '1:1'
                  default: '16:9'
                duration:
                  anyOf:
                  - type: number
                    const: 5
                  - type: number
                    const: 10
                  default: 5
                camera_control:
                  oneOf:
                  - type: object
                    properties:
                      type:
                        type: string
                        const: simple
                      config:
                        type: object
                        properties:
                          zoom:
                            type: number
                            minimum: -10
                            maximum: 10
                          roll:
                            type: number
                            minimum: -10
                            maximum: 10
                          pan:
                            type: number
                            minimum: -10
                            maximum: 10
                          tilt:
                            type: number
                            minimum: -10
                            maximum: 10
                          vertical:
                            type: number
                            minimum: -10
                            maximum: 10
                          horizontal:
                            type: number
                            minimum: -10
                            maximum: 10
                    required:
                    - type
                  - type: object
                    properties:
                      type:
                        type: string
                        const: down_back
                      config:
                        type: 'null'
                        default: null
                    required:
                    - type
                  - type: object
                    properties:
                      type:
                        type: string
                        const: forward_up
                      config:
                        type: 'null'
                        default: null
                    required:
                    - type
                  - type: object
                    properties:
                      type:
                        type: string
                        const: right_turn_forward
                      config:
                        type: 'null'
                        default: null
                    required:
                    - type
                  - type: object
                    properties:
                      type:
                        type: string
                        const: left_turn_forward
                      config:
                        type: 'null'
                        default: null
                    required:
                    - type
                end_image:
                  type: string
                  format: uri
                end_video:
                  type: string
                  format: uri
                mode:
                  type: string
                  enum:
                  - std
                  - pro
                  default: std
              required:
              - prompt
              additionalProperties: false
            example:
              prompt: Desert caravan, mystical oases and sand sorcerers, channeling adventure anime vibes.
      responses:
        '200':
          description: The resulting job data. This will be returned in a pending state until the job is completed. See [`/jobs/{id}`](#tag/default/get/jobs/{id}) for retrieving the results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                    format: uuid
                  status:
                    type: string
                    enum:
                    - backlogged
                    - queued
                    - scheduled
                    - processing
                    - sampling
                    - intermediate-complete
                    - completed
                    - failed
                    - cancelled
                  created_at:
                    type: string
                    format: date-time
                  completed_at:
                    type: 'null'
                  result:
                    type: 'null'
                required:
                - job_id
                - status
                - created_at
                - completed_at
                - result
        '400':
          description: The request body is invalid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
        '401':
          description: You are not authenticated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
        '402':
          description: You have run out of credits.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
        '429':
          description: You have reached the maximum number of concurrent jobs.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
  /generate/video/kling/kling-2:
    post:
      tags:
      - Video
      description: 'High-quality model with great aesthetics.

        | Duration | Compute Units |

        |----------|---------------|

        | 5s | 802 |

        > **Deprecated request fields:**

        >

        > - `startImage` -> `start_image` until 2026-06-19

        > - `startVideo` -> `start_video` until 2026-06-19

        > - `aspectRatio` -> `aspect_ratio` until 2026-06-19

        > - `endImage` -> `end_image` until 2026-06-19

        >

        > Deprecated fields are accepted for compatibility only and are not shown in the request schema.

        '
      summary: Kling 2.0
      x-krea-deprecated-field-aliases:
      - from: startImage
        to: start_image
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      - from: startVideo
        to: start_video
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      - from: aspectRatio
        to: aspect_ratio
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      - from: endImage
        to: end_image
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      parameters:
      - name: X-Webhook-URL
        in: header
        required: false
        schema:
          type: string
          format: uri
        description: URL to receive a POST request when the job completes. The webhook will receive the job data including results.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  type: string
                start_image:
                  type: string
                  format: uri
                start_video:
                  type:
                  - string
                  - 'null'
                  format: uri
                aspect_ratio:
                  type: string
                  enum:
                  - '16:9'
                  - '9:16'
                  - '1:1'
                  default: '16:9'
                duration:
                  type: number
                  const: 5
                  default: 5
                end_image:
                  type: string
                  format: uri
                mode:
                  type: string
                  enum:
                  - master
                  - pro
                  default: master
              required:
              - prompt
              additionalProperties: false
            example:
              prompt: A hidden valley, with wildflowers carpeting the ground and cascading waterfalls.
      responses:
        '200':
          description: The resulting job data. This will be returned in a pending state until the job is completed. See [`/jobs/{id}`](#tag/default/get/jobs/{id}) for retrieving the results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                    format: uuid
                  status:
                    type: string
                    enum:
                    - backlogged
                    - queued
                    - scheduled
                    - processing
                    - sampling
                    - intermediate-complete
                    - completed
                    - failed
                    - cancelled
                  created_at:
                    type: string
                    format: date-time
                  completed_at:
                    type: 'null'
                  result:
                    type: 'null'
                required:
                - job_id
                - status
                - created_at
                - completed_at
                - result
        '400':
          description: The request body is invalid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
        '401':
          description: You are not authenticated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
        '402':
          description: You have run out of credits.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
        '429':
          description: You have reached the maximum number of concurrent jobs.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
  /generate/video/kling/kling-2.1:
    post:
      tags:
      - Video
      description: 'Frontier model with 1080p resolution.

        | Mode | Duration | Compute Units |

        |------|----------|---------------|

        | std | 5s | 143 |

        | std | 10s | 286 |

        | pro | 5s | 258 |

        | pro | 10s | 515 |

        | master | 5s | 802 |

        | master | 10s | 1604 |

        > **Deprecated request fields:**

        >

        > - `startImage` -> `start_image` until 2026-06-19

        > - `startVideo` -> `start_video` until 2026-06-19

        > - `aspectRatio` -> `aspect_ratio` until 2026-06-19

        > - `endImage` -> `end_image` until 2026-06-19

        >

        > Deprecated fields are accepted for compatibility only and are not shown in the request schema.

        '
      summary: Kling 2.1
      x-krea-deprecated-field-aliases:
      - from: startImage
        to: start_image
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      - from: startVideo
        to: start_video
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      - from: aspectRatio
        to: aspect_ratio
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      - from: endImage
        to: end_image
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      parameters:
      - name: X-Webhook-URL
        in: header
        required: false
        schema:
          type: string
          format: uri
        description: URL to receive a POST request when the job completes. The webhook will receive the job data including results.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  type: string
                start_image:
                  type: string
                  format: uri
                start_video:
                  type:
                  - string
                  - 'null'
                  format: uri
                aspect_ratio:
                  type: string
                  enum:
                  - '16:9'
                  - '9:16'
                  - '1:1'
                  default: '16:9'
                duration:
                  anyOf:
                  - type: number
                    const: 5
                  - type: number
                    const: 10
                  default: 5
                end_image:
                  type: string
                  format: uri
                mode:
                  type: string
                  enum:
                  - master
                  - pro
                  default: master
              required:
              - prompt
              additionalProperties: false
            example:
              prompt: An Art Nouveau manor, where nature and architecture flirt.
      responses:
        '200':
          description: The resulting job data. This will be returned in a pending state until the job is completed. See [`/jobs/{id}`](#tag/default/get/jobs/{id}) for retrieving the results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                    format: uuid
                  status:
                    type: string
                    enum:
                    - backlogged
                    - queued
                    - scheduled
                    - processing
                    - sampling
                    - intermediate-complete
                    - completed
                    - failed
                    - cancelled
                  created_at:
                    type: string
                    format: date-time
                  completed_at:
                    type: 'null'
                  result:
                    type: 'null'
                required:
                - job_id
                - status
                - created_at
                - completed_at
                - result
        '400':
          description: The request body is invalid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
        '401':
          description: You are not authenticated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
        '402':
          description: You have run out of credits.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
        '429':
          description: You have reached the maximum number of concurrent jobs.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
  /generate/video/kling/kling-2.5:
    post:
      tags:
      - Video
      description: 'Improved dynamics and style adaptation.

        | Duration | Compute Units |

        |----------|---------------|

        | 5s | 200 |

        | 10s | 401 |

        > **Deprecated request fields:**

        >

        > - `startImage` -> `start_image` until 2026-06-19

        > - `startVideo` -> `start_video` until 2026-06-19

        > - `aspectRatio` -> `aspect_ratio` until 2026-06-19

        > - `endImage` -> `end_image` until 2026-06-19

        >

        > Deprecated fields are accepted for compatibility only and are not shown in the request schema.

        '
      summary: Kling 2.5
      x-krea-deprecated-field-aliases:
      - from: startImage
        to: start_image
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      - from: startVideo
        to: start_video
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      - from: aspectRatio
        to: aspect_ratio
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      - from: endImage
        to: end_image
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      parameters:
      - name: X-Webhook-URL
        in: header
        required: false
        schema:
          type: string
          format: uri
        description: URL to receive a POST request when the job completes. The webhook will receive the job data including results.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  type: string
                start_image:
                  type: string
                  format: uri
                start_video:
                  type:
                  - string
                  - 'null'
                  format: uri
                aspect_ratio:
                  type: string
                  enum:
                  - '16:9'
                  - '9:16'
                  - '1:1'
                  default: '16:9'
                duration:
                  anyOf:
                  - type: number
                    const: 5
                  - type: number
                    const: 10
                  default: 5
                end_image:
                  type: string
                  format: uri
                mode:
                  type: string
                  const: pro
                  default: pro
              required:
              - prompt
              additionalProperties: false
            example:
              prompt: Cavern city glowing with crystals, inhabitants with glowing tattoos, channeling dark fantasy anime visuals.
      responses:
        '200':
          description: The resulting job data. This will be returned in a pending state until the job is completed. See [`/jobs/{id}`](#tag/default/get/jobs/{id}) for retrieving the results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                    format: uuid
                  status:
                    type: string
                    enum:
                    - backlogged
                    - queued
                    - scheduled
                    - processing
                    - sampling
                    - intermediate-complete
                    - completed
                    - failed
                    - cancelled
                  created_at:
                    type: string
                    format: date-time
                  completed_at:
                    type: 'null'
                  result:
                    type: 'null'
                required:
                - job_id
                - status
                - created_at
                - completed_at
                - result
        '400':
          description: The request body is invalid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
        '401':
          description: You are not authenticated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
        '402':
          description: You have run out of credits.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
        '429':
          description: You have reached the maximum number of concurrent jobs.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
  /generate/video/kling/kling-2.6:
    post:
      tags:
      - Video
      description: 'Frontier model with native audio.

        | Audio | Duration | Compute Units |

        |-------|----------|---------------|

        | No | 5s | 200 |

        | No | 10s | 401 |

        | Yes | 5s | 401 |

        | Yes | 10s | 802 |

        > **Deprecated request fields:**

        >

        > - `startImage` -> `start_image` until 2026-06-19

        > - `startVideo` -> `start_video` until 2026-06-19

        > - `aspectRatio` -> `aspect_ratio` until 2026-06-19

        > - `endImage` -> `end_image` until 2026-06-19

        > - `endVideo` -> `end_video` until 2026-06-19

        > - `generateAudio` -> `generate_audio` until 2026-06-19

        >

        > Deprecated fields are accepted for compatibility only and are not shown in the request schema.

        '
      summary: Kling 2.6
      x-krea-deprecated-field-aliases:
      - from: startImage
        to: start_image
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      - from: startVideo
        to: start_video
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      - from: aspectRatio
        to: aspect_ratio
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      - from: endImage
        to: end_image
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      - from: endVideo
        to: end_video
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      - from: generateAudio
        to: generate_audio
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      parameters:
      - name: X-Webhook-URL
        in: header
        required: false
        schema:
          type: string
          format: uri
        description: URL to receive a POST request when the job completes. The webhook will receive the job data including results.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  type: string
                start_image:
                  type: string
                  format: uri
                start_video:
                  type:
                  - string
                  - 'null'
                  format: uri
                aspect_ratio:
                  type: string
                  enum:
                  - '16:9'
                  - '9:16'
                  default: '16:9'
                duration:
                  anyOf:
                  - type: number
                    const: 5
                  - type: number
                    const: 10
                  default: 5
                end_image:
                  type: string
                  format: uri
                end_video:
                  type: string
                  format: uri
                generate_audio:
                  type: boolean
                  default: false
              required:
              - prompt
              additionalProperties: false
            example:
              prompt: Cybernetic skyline with flying cars and holograms, reflecting a futuristic anime realm.
      responses:
        '200':
          description: The resulting job data. This will be returned in a pending state until the job is completed. See [`/jobs/{id}`](#tag/default/get/jobs/{id}) for retrieving the results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                    format: uuid
                  status:
                    type: string
                    enum:
                    - backlogged
                    - queued
                    - scheduled
                    - processing
                    - sampling
                    - intermediate-complete
                    - completed
                    - failed
                    - cancelled
                  created_at:
                    type: string
                    format: date-time
                  completed_at:
                    type: 'null'
                  result:
                    type: 'null'
                required:
                - job_id
                - status
                - created_at
                - completed_at
                - result
        '400':
          description: The request body is invalid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
        '401':
          description: You are not authenticated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
        '402':
          description: You have run out of credits.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
        '429':
          description: You have reached the maximum number of concurrent jobs.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
  /generate/video/kling/kling-3.0:
    post:
      tags:
      - Video
      description: 'Frontier model with audio and up to 15s.

        | Mode | Audio | Duration | Compute Units |

        |------|-------|----------|---------------|

        | std | No | 3s | 289 |

        | std | No | 4s | 385 |

        | std | No | 5s | 481 |

        | std | No | 6s | 577 |

        | std | No | 7s | 674 |

        | std | No | 8s | 770 |

        | std | No | 9s | 866 |

        | std | No | 10s | 962 |

        | std | No | 11s | 1058 |

        | std | No | 12s | 1155 |

        | std | No | 13s | 1251 |

        | std | No | 14s | 1347 |

        | std | No | 15s | 1443 |

        | std | Yes | 3s | 433 |

        | std | Yes | 4s | 577 |

        | std | Yes | 5s | 722 |

        | std | Yes | 6s | 866 |

        | std | Yes | 7s | 1010 |

        | std | Yes | 8s | 1155 |

        | std | Yes | 9s | 1299 |

        | std | Yes | 10s | 1443 |

        | std | Yes | 11s | 1588 |

        | std | Yes | 12s | 1732 |

        | std | Yes | 13s | 1876 |

        | std | Yes | 14s | 2021 |

        | std | Yes | 15s | 2165 |

        | pro | No | 3s | 385 |

        | pro | No | 4s | 513 |

        | pro | No | 5s | 641 |

        | pro | No | 6s | 770 |

        | pro | No | 7s | 898 |

        | pro | No | 8s | 1026 |

        | pro | No | 9s | 1155 |

        | pro | No | 10s | 1283 |

        | pro | No | 11s | 1411 |

        | pro | No | 12s | 1540 |

        | pro | No | 13s | 1668 |

        | pro | No | 14s | 1796 |

        | pro | No | 15s | 1924 |

        | pro | Yes | 3s | 577 |

        | pro | Yes | 4s | 770 |

        | pro | Yes | 5s | 962 |

        | pro | Yes | 6s | 1155 |

        | pro | Yes | 7s | 1347 |

        | pro | Yes | 8s | 1540 |

        | pro | Yes | 9s | 1732 |

        | pro | Yes | 10s | 1924 |

        | pro | Yes | 11s | 2117 |

        | pro | Yes | 12s | 2309 |

        | pro | Yes | 13s | 2502 |

        | pro | Yes | 14s | 2694 |

        | pro | Yes | 15s | 2887 |

        | 4k | No | 3s | 722 |

        | 4k | No | 4s | 962 |

        | 4k | No | 5s | 1203 |

        | 4k | No | 6s | 1443 |

        | 4k | No | 7s | 1684 |

        | 4k | No | 8s | 1924 |

        | 4k | No | 9s | 2165 |

        | 4k | No | 10s | 2405 |

        | 4k | No | 11s | 2646 |

        | 4k | No | 12s | 2887 |

        | 4k | No | 13s | 3127 |

        | 4k | No | 14s | 3368 |

        | 4k | No | 15s | 3608 |

        | 4k | Yes | 3s | 722 |

        | 4k | Yes | 4s | 962 |

        | 4k | Yes | 5s | 1203 |

        | 4k | Yes | 6s | 1443 |

        | 4k | Yes | 7s | 1684 |

        | 4k | Yes | 8s | 1924 |

        | 4k | Yes | 9s | 2165 |

        | 4k | Yes | 10s | 2405 |

        | 4k | Yes | 11s | 2646 |

        | 4k | Yes | 12s | 2887 |

        | 4k | Yes | 13s | 3127 |

        | 4k | Yes | 14s | 3368 |

        | 4k | Yes | 15s | 3608 |

        > **Deprecated request fields:**

        >

        > - `startImage` -> `start_image` until 2026-06-19

        > - `startVideo` -> `start_video` until 2026-06-19

        > - `aspectRatio` -> `aspect_ratio` until 2026-06-19

        > - `endImage` -> `end_image` until 2026-06-19

        > - `generateAudio` -> `generate_audio` until 2026-06-19

        > - `multiPrompt` -> `multi_prompt` until 2026-06-19

        >

        > Deprecated fields are accepted for compatibility only and are not shown in the request schema.

        '
      summary: Kling 3.0
      x-krea-deprecated-field-aliases:
      - from: startImage
        to: start_image
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      - from: startVideo
        to: start_video
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      - from: aspectRatio
        to: aspect_ratio
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      - from: endImage
        to: end_image
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      - from: generateAudio
        to: generate_audio
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      - from: multiPrompt
        to: multi_prompt
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      parameters:
      - name: X-Webhook-URL
        in: header
        required: false
        schema:
          type: string
          format: uri
        description: URL to receive a POST request when the job completes. The webhook will receive the job data including results.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  type: string
                  maxLength: 2500
                start_image:
                  type: string
                  format: uri
                start_video:
                  type:
                  - string
                  - 'null'
                  format: uri
                aspect_ratio:
                  type: string
                  enum:
                  - '16:9'
                  - '9:16'
                  default: '16:9'
                duration:
                  type: number
                  minimum: 3
                  maximum: 15
                  default: 5
                end_image:
                  type: string
                  format: uri
                generate_audio:
                  type: boolean
                  default: false
                mode:
                  type: string
                  enum:
                  - std
                  - pro
                  - 4k
                  default: std
                multi_prompt:
                  type: array
                  items:
                    type: object
                    properties:
                      prompt:
                        type: string
                        maxLength: 512
                      duration:
                        type: number
                        minimum: 1
                        maximum: 15
                    required:
                    - prompt
                    - duration
              required:
              - prompt
              additionalProperties: false
            example:
              prompt: Bustling academy in a meteor, students harnessing star magic, resonating with cosmic anime themes.
      responses:
        '200':
          description: The resulting job data. This will be returned in a pending state until the job is completed. See [`/jobs/{id}`](#tag/default/get/jobs/{id}) for retrieving the results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                    format: uuid
                  status:
                    type: string
                    enum:
                    - backlogged
                    - queued
                    - scheduled
                    - processing
                    - sampling
                    - intermediate-complete
                    - completed
                    - failed
                    - cancelled
                  created_at:
                    type: string
                    format: date-time
                  completed_at:
                    type: 'null'
                  result:
                    type: 'null'
                required:
                - job_id
                - status
                - created_at
                - completed_at
                - result
        '400':
          description: The request body is invalid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
        '401':
          description: You are not authenticated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
        '402':
          description: You have run out of credits.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
        '429':
          description: You have reached the maximum number of concurrent jobs.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
  /generate/video/kling/kling-o1:
    post:
      tags:
      - Video
      description: 'Intelligent model that thinks before generating.

        | Video Reference | Duration | Compute Units |

        |-----------------|----------|---------------|

        | No | 3s | 192 |

        | No | 4s | 257 |

        | No | 5s | 321 |

        | No | 6s | 385 |

        | No | 7s | 449 |

        | No | 8s | 513 |

        | No | 9s | 577 |

        | No | 10s | 641 |

        | Yes | 3s | 289 |

        | Yes | 4s | 385 |

        | Yes | 5s | 481 |

        | Yes | 6s | 577 |

        | Yes | 7s | 674 |

        | Yes | 8s | 770 |

        | Yes | 9s | 866 |

        | Yes | 10s | 962 |

        > **Deprecated request fields:**

        >

        > - `startImage` -> `start_image` until 2026-06-19

        > - `startVideo` -> `start_video` until 2026-06-19

        > - `aspectRatio` -> `aspect_ratio` until 2026-06-19

        > - `endImage` -> `end_image` until 2026-06-19

        > - `styleReferences` -> `style_references` until 2026-06-19

        > - `elementReferences` -> `element_references` until 2026-06-19

        > - `videoReference` -> `video_reference` until 2026-06-19

        >

        > Deprecated fields are accepted for compatibility only and are not shown in the request schema.

        '
      summary: Kling o1
      x-krea-deprecated-field-aliases:
      - from: startImage
        to: start_image
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      - from: startVideo
        to: start_video
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      - from: aspectRatio
        to: aspect_ratio
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      - from: endImage
        to: end_image
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      - from: styleReferences
        to: style_references
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      - from: elementReferences
        to: element_references
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      - from: videoReference
        to: video_reference
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      parameters:
      - name: X-Webhook-URL
        in: header
        required: false
        schema:
          type: string
          format: uri
        description: URL to receive a POST request when the job completes. The webhook will receive the job data including results.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  type: string
                start_image:
                  type: string
                  format: uri
                start_video:
                  type:
                  - string
                  - 'null'
                  format: uri
                aspect_ratio:
                  type: string
                  enum:
                  - '16:9'
                  - '9:16'
                  - '1:1'
                  default: '16:9'
                duration:
                  type: number
                  minimum: 3
                  maximum: 10
                  default: 5
                end_image:
                  type: string
                  format: uri
                style_references:
                  type: array
                  items:
                    type: object
                    properties:
                      url:
                        type: string
                        format: uri
                      tag:
                        type: string
                        pattern: ^[a-z][a-z0-9_-]+$
                        minLength: 3
                        maxLength: 16
                    required:
                    - url
                    - tag
                element_references:
                  type: array
                  items:
                    type: object
                    properties:
                      images:
                        type: array
                        items:
                          type: string
                          format: uri
                        minItems: 1
                        maxItems: 3
                      tag:
                        type: string
                        pattern: ^[a-z][a-z0-9_-]+$
                        minLength: 3
                        maxLength: 16
                    required:
                    - images
                    - tag
                video_reference:
                  type: object
                  properties:
                    url:
                      type: string
                      format: uri
                    tag:
                      type: string
                      pattern: ^[a-z][a-z0-9_-]+$
                      minLength: 3
                      maxLength: 16
                  required:
                  - url
                  - tag
              required:
              - prompt
              additionalProperties: false
            example:
              prompt: A Victorian greenhouse where each pane frames a universe.
      responses:
        '200':
          description: The resulting job data. This will be returned in a pending state until the job is completed. See [`/jobs/{id}`](#tag/default/get/jobs/{id}) for retrieving the results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                    format: uuid
                  status:
                    type: string
                    enum:
                    - backlogged
                    - queued
                    - scheduled
                    - processing
                    - sampling
                    - intermediate-complete
                    - completed
                    - failed
                    - cancelled
                  created_at:
                    type: string
                    format: date-time
                  completed_at:
                    type: 'null'
                  result:
                    type: 'null'
                required:
                - job_id
                - status
                - created_at
                - completed_at
                - result
        '400':
          description: The request body is invalid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
        '401':
          description: You are not authenticated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
        '402':
          description: You have run out of credits.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
        '429':
          description: You have reached the maximum number of concurrent jobs.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
  /generate/video/minimax/hailuo:
    post:
      tags:
      - Video
      description: 'High-quality model with camera control.

        | Duration | Compute Units |

        |----------|---------------|

        | 5s | 246 |

        > **Deprecated request fields:**

        >

        > - `startImage` -> `start_image` until 2026-06-19

        > - `startVideo` -> `start_video` until 2026-06-19

        > - `expandPrompt` -> `expand_prompt` until 2026-06-19

        > - `cameraControl` -> `camera_control` until 2026-06-19

        >

        > Deprecated fields are accepted for compatibility only and are not shown in the request schema.

        '
      summary: Hailuo
      x-krea-deprecated-field-aliases:
      - from: startImage
        to: start_image
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      - from: startVideo
        to: start_video
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      - from: expandPrompt
        to: expand_prompt
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      - from: cameraControl
        to: camera_control
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      parameters:
      - name: X-Webhook-URL
        in: header
        required: false
        schema:
          type: string
          format: uri
        description: URL to receive a POST request when the job completes. The webhook will receive the job data including results.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  type: string
                start_image:
                  type: string
                  format: uri
                start_video:
                  type:
                  - string
                  - 'null'
                  format: uri
                expand_prompt:
                  type: boolean
                  default: true
                camera_control:
                  type: array
                  items:
                    type: string
                model:
                  type: string
                  enum:
                  - video-01
                  - S2V-01
                  - T2V-01-Director
                  - I2V-01-Director
                  default: video-01
                subjects:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        const: character
                      image:
                        type: array
                        items:
                          type: string
                          format: uri
                        minItems: 1
                    required:
                    - type
                    - image
                  maxItems: 1
              required:
              - prompt
              additionalProperties: false
            example:
              prompt: Urban jungle, street races with magical beasts, echoing urban fantasy anime vibes.
      responses:
        '200':
          description: The resulting job data. This will be returned in a pending state until the job is completed. See [`/jobs/{id}`](#tag/default/get/jobs/{id}) for retrieving the results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                    format: uuid
                  status:
                    type: string
                    enum:
                    - backlogged
                    - queued
                    - scheduled
                    - processing
                    - sampling
                    - intermediate-complete
                    - completed
                    - failed
                    - cancelled
                  created_at:
                    type: string
                    format: date-time
                  completed_at:
                    type: 'null'
                  result:
                    type: 'null'
                required:
                - job_id
                - status
                - created_at
                - completed_at
                - result
        '400':
          description: The request body is invalid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
        '401':
          description: You are not authenticated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
        '402':
          description: You have run out of credits.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
        '429':
          description: You have reached the maximum number of concurrent jobs.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
  /generate/video/minimax/hailuo-02:
    post:
      tags:
      - Video
      description: 'Frontier model with dynamic motion.

        | Resolution | Duration | Compute Units |

        |------------|----------|---------------|

        | 512p | 6s | 57.3 |

        | 512p | 7s | 180 |

        | 512p | 8s | 206 |

        | 512p | 9s | 232 |

        | 512p | 10s | 85.9 |

        | 768p | 6s | 155 |

        | 768p | 7s | 180 |

        | 768p | 8s | 206 |

        | 768p | 9s | 232 |

        | 768p | 10s | 258 |

        | 1080p | 6s | 309 |

        | 1080p | 7s | 361 |

        | 1080p | 8s | 412 |

        | 1080p | 9s | 464 |

        | 1080p | 10s | 515 |

        > **Deprecated request fields:**

        >

        > - `startImage` -> `start_image` until 2026-06-19

        > - `startVideo` -> `start_video` until 2026-06-19

        > - `expandPrompt` -> `expand_prompt` until 2026-06-19

        > - `endImage` -> `end_image` until 2026-06-19

        >

        > Deprecated fields are accepted for compatibility only and are not shown in the request schema.

        '
      summary: Hailuo 02
      x-krea-deprecated-field-aliases:
      - from: startImage
        to: start_image
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      - from: startVideo
        to: start_video
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      - from: expandPrompt
        to: expand_prompt
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      - from: endImage
        to: end_image
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      parameters:
      - name: X-Webhook-URL
        in: header
        required: false
        schema:
          type: string
          format: uri
        description: URL to receive a POST request when the job completes. The webhook will receive the job data including results.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  type: string
                start_image:
                  type: string
                  format: uri
                start_video:
                  type:
                  - string
                  - 'null'
                  format: uri
                expand_prompt:
                  type: boolean
                  default: true
                model:
                  type: string
                  const: MiniMax-Hailuo-02
                  default: MiniMax-Hailuo-02
                end_image:
                  type: string
                  format: uri
                resolution:
                  type: string
                  enum:
                  - 512p
                  - 768p
                  - 1080p
                  default: 768p
                duration:
                  type: number
                  minimum: 6
                  maximum: 10
                  default: 6
              required:
              - prompt
              additionalProperties: false
            example:
              prompt: A Dutch town with windmills turning slowly beside tulip fields.
      responses:
        '200':
          description: The resulting job data. This will be returned in a pending state until the job is completed. See [`/jobs/{id}`](#tag/default/get/jobs/{id}) for retrieving the results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                    format: uuid
                  status:
                    type: string
                    enum:
                    - backlogged
                    - queued
                    - scheduled
                    - processing
                    - sampling
                    - intermediate-complete
                    - completed
                    - failed
                    - cancelled
                  created_at:
                    type: string
                    format: date-time
                  completed_at:
                    type: 'null'
                  result:
                    type: 'null'
                required:
                - job_id
                - status
                - created_at
                - completed_at
                - result
        '400':
          description: The request body is invalid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
        '401':
          description: You are not authenticated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
        '402':
          description: You have run out of credits.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
        '429':
          description: You have reached the maximum number of concurrent jobs.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
  /generate/video/minimax/hailuo-2.3:
    post:
      tags:
      - Video
      description: 'Frontier model with dynamic motion.

        | Resolution | Duration | Compute Units |

        |------------|----------|---------------|

        | 768p | 6s | 160 |

        | 768p | 10s | 321 |

        | 1080p | 6s | 281 |

        | 1080p | 10s | 281 |

        > **Deprecated request fields:**

        >

        > - `startImage` -> `start_image` until 2026-06-19

        > - `startVideo` -> `start_video` until 2026-06-19

        > - `expandPrompt` -> `expand_prompt` until 2026-06-19

        > - `endImage` -> `end_image` until 2026-06-19

        >

        > Deprecated fields are accepted for compatibility only and are not shown in the request schema.

        '
      summary: Hailuo 2.3
      x-krea-deprecated-field-aliases:
      - from: startImage
        to: start_image
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      - from: startVideo
        to: start_video
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      - from: expandPrompt
        to: expand_prompt
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      - from: endImage
        to: end_image
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      parameters:
      - name: X-Webhook-URL
        in: header
        required: false
        schema:
          type: string
          format: uri
        description: URL to receive a POST request when the job completes. The webhook will receive the job data including results.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  type: string
                start_image:
                  type: string
                  format: uri
                start_video:
                  type:
                  - string
                  - 'null'
                  format: uri
                expand_prompt:
                  type: boolean
                  default: true
                model:
                  type: string
                  const: MiniMax-Hailuo-2.3
                  default: MiniMax-Hailuo-2.3
                end_image:
                  type: string
                  format: uri
                resolution:
                  type: string
                  enum:
                  - 768p
                  - 1080p
                  default: 768p
                duration:
                  anyOf:
                  - type: number
                    const: 6
                  - type: number
                    const: 10
                  default: 6
              required:
              - prompt
              additionalProperties: false
            example:
              prompt: Scottish highlands, with lone bagpipers playing among stone ruins.
      responses:
        '200':
          description: The resulting job data. This will be returned in a pending state until the job is completed. See [`/jobs/{id}`](#tag/default/get/jobs/{id}) for retrieving the results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                    format: uuid
                  status:
                    type: string
                    enum:
                    - backlogged
                    - queued
                    - scheduled
                    - processing
                    - sampling
                    - intermediate-complete
                    - completed
                    - failed
                    - cancelled
                  created_at:
                    type: string
                    format: date-time
                  completed_at:
                    type: 'null'
                  result:
                    type: 'null'
                required:
                - job_id
                - status
                - created_at
                - completed_at
                - result
        '400':
          description: The request body is invalid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
        '401':
          description: You are not authenticated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
        '402':
          description: You have run out of credits.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
        '429':
          description: You have reached the maximum number of concurrent jobs.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
  /generate/video/minimax/hailuo-2.3-fast:
    post:
      tags:
      - Video
      description: 'Cheapest medium-quality model.

        | Resolution | Duration | Compute Units |

        |------------|----------|---------------|

        | 768p | 6s | 109 |

        | 768p | 10s | 183 |

        | 1080p | 6s | 189 |

        | 1080p | 10s | 189 |

        > **Deprecated request fields:**

        >

        > - `startImage` -> `start_image` until 2026-06-19

        > - `startVideo` -> `start_video` until 2026-06-19

        > - `expandPrompt` -> `expand_prompt` until 2026-06-19

        > - `endImage` -> `end_image` until 2026-06-19

        >

        > Deprecated fields are accepted for compatibility only and are not shown in the request schema.

        '
      summary: Hailuo 2.3 Fast
      x-krea-deprecated-field-aliases:
      - from: startImage
        to: start_image
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      - from: startVideo
        to: start_video
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      - from: expandPrompt
        to: expand_prompt
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      - from: endImage
        to: end_image
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      parameters:
      - name: X-Webhook-URL
        in: header
        required: false
        schema:
          type: string
          format: uri
        description: URL to receive a POST request when the job completes. The webhook will receive the job data including results.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  type: string
                start_image:
                  type: string
                  format: uri
                start_video:
                  type:
                  - string
                  - 'null'
                  format: uri
                expand_prompt:
                  type: boolean
                  default: true
                model:
                  type: string
                  const: MiniMax-Hailuo-2.3-fast
                  default: MiniMax-Hailuo-2.3-fast
                end_image:
                  type: string
                  format: uri
                resolution:
                  type: string
                  enum:
                  - 768p
                  - 1080p
                  default: 768p
                duration:
                  anyOf:
                  - type: number
                    const: 6
                  - type: number
                    const: 10
                  default: 6
              required:
              - prompt
              additionalProperties: false
            example:
              prompt: Salt flats in Bolivia, reflecting heavens on Earth.
      responses:
        '200':
          description: The resulting job data. This will be returned in a pending state until the job is completed. See [`/jobs/{id}`](#tag/default/get/jobs/{id}) for retrieving the results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                    format: uuid
                  status:
                    type: string
                    enum:
                    - backlogged
                    - queued
                    - scheduled
                    - processing
                    - sampling
                    - intermediate-complete
                    - completed
                    - failed
                    - cancelled
                  created_at:
                    type: string
                    format: date-time
                  completed_at:
                    type: 'null'
                  result:
                    type: 'null'
                required:
                - job_id
                - status
                - created_at
                - completed_at
                - result
        '400':
          description: The request body is invalid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
        '401':
          description: You are not authenticated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
        '402':
          description: You have run out of credits.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
        '429':
          description: You have reached the maximum number of concurrent jobs.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
  /generate/video/alibaba/wan-2.1:
    post:
      tags:
      - Video
      description: 'Fastest low-quality model with LoRA.

        | Duration | Compute Units | Average Completion Time |

        |----------|---------------|-------------------------|

        | - | ~270 | ~97 seconds |

        > **Deprecated request fields:**

        >

        > - `startImage` -> `start_image` until 2026-06-19

        > - `startVideo` -> `start_video` until 2026-06-19

        > - `endImage` -> `end_image` until 2026-06-19

        > - `endVideo` -> `end_video` until 2026-06-19

        > - `aspectRatio` -> `aspect_ratio` until 2026-06-19

        > - `presetStyles` -> `styles` until 2026-06-19

        >

        > Deprecated fields are accepted for compatibility only and are not shown in the request schema.

        '
      summary: Wan 2.1
      x-krea-deprecated-field-aliases:
      - from: startImage
        to: start_image
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      - from: startVideo
        to: start_video
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      - from: endImage
        to: end_image
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      - from: endVideo
        to: end_video
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      - from: aspectRatio
        to: aspect_ratio
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      - from: presetStyles
        to: styles
        sunset_date: '2026-06-19'
        reason: Public API request fields are moving to snake_case.
        migration_url: https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields
      parameters:
      - name: X-Webhook-URL
        in: header
        required: false
        schema:
          type: string
          format: uri
        description: URL to receive a POST request when the job completes. The webhook will receive the job data including results.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  type: string
                start_image:
                  type:
                  - string
                  - 'null'
                  format: uri
                start_video:
                  type:
                  - string
                  - 'null'
                  format: uri
                width:
                  type: number
                height:
                  type: number
                end_image:
                  type:
                  - string
                  - 'null'
                  format: uri
                end_video:
                  type:
                  - string
                  - 'null'
                  format: uri
                aspect_ratio:
                  type: string
                  enum:
                  - '16:9'
                  - '9:16'
                  default: '16:9'
                styles:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                      strength:
                        type: number
                        minimum: -2
                        maximum: 2
                    required:
                    - id
                    - strength
                frame_num:
                  type: number
              required:
              - prompt
              - width
              - height
              additionalProperties: false
            example:
              prompt: Steampunk-inspired harbor, airships docking amidst steam and cogs, resonating with steampunk anime.
              width: 1024
              height: 1024
      responses:
        '200':
          description: The resulting job data. This will be returned in a pending state until the job is completed. See [`/jobs/{id}`](#tag/default/get/jobs/{id}) for retrieving the results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                    format: uuid
                  status:
                    type: string
                    enum:
                    - backlogged
                    - queued
                    - scheduled
                    - processing
                    - sampling
                    - intermediate-complete
                    - completed
                    - failed
                    - cancelled
                  created_at:
                    type: string
                    format: date-time
                  completed_at:
                    type: 'null'
                  result:
                    type: 'null'
                required:
                - job_id
                - status
                - created_at
                - completed_at
                - result
        '400':
          description: The request body is invalid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
        '401':
          description: You are not authenticated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
        '402':
          description: You have run out of credits.
[...]
